:root {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  //--primary-color: rgba(4, 4, 41, 0.97);
  --primary-color: rgb(9, 9, 161);
  // --secondary-color: rgb(209, 13, 124);
  --secondary-color: rgb(216, 39, 39);
  --tertiary-color: rgb(2, 2, 20);
}
* {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  --ms-box-sizing: border-box;
  --moz-box-sizing: border-box;
  --o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
//registration.html
.reg-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 2.5em 0 5em 0;
  .container {
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(4, 4, 41), black);
    border: 1px solid white;
    padding: 2em 0 2em 1em;
    color: white;
    width: 45vw;
    height: 100%;
    .logo {
      width: 20vw;
      height: 40vh;
      border-radius: 1em;
      margin: 0.3em 0 3em 9em;
    }
    .desc-1 {
      text-align: center;
      color: yellow;
      font-size: 2em;
      font-weight: bold;
      padding-bottom: 0.6em;
    }
    .desc-2 {
      text-align: center;
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      max-width: 600px;
      padding-bottom: 0.6em;
    }
    .reg-h3 {
      color: var(--secondary-color);
      font-size: 1.4em;
      padding: 1em 0 0.5em 0;
    }
    .fill-form {
      color: white;
      font-size: 1em;
      padding-bottom: 1.5em;
    }
    .reg-page-form {
      padding-bottom: 2em;
      .form-item {
        position: relative;
        .text {
          border-radius: 0.5em;
          padding: 1em 0 1em 2.8em;
          width: 90%;
        }
        .bx {
          font-size: 2em;
          position: absolute;
          color: var(--tertiary-color);
          z-index: 1;
          left: 0;
          top: 1.4em;
        }
      }
    }
    .note-desc {
      font-size: 1em;
      font-style: italic;
      line-height: 1.5em;
      color: yellow;
      padding: 0 1em 2em 0;
      span {
        color: var(--secondary-color);
      }
    }
    .check {
      line-height: 1.5em;
      padding-bottom: 1em;
      .agree {
        font-size: 1.2em;
      }
    }
    .submit-cta {
      background-color: var(--secondary-color);
      padding: 0.8em 2.3em;
      border-radius: 0.5em;
      text-decoration: none;
      color: white;
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
//Ipad-view
@media only screen and (max-width: 992px) {
  .reg-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -0-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin: 2.5em 0 5em 0;
    .container {
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, rgb(4, 4, 41), black);
      border: 1px solid white;
      padding: 2em 0 2em 1em;
      color: white;
      width: 75vw;
      height: 100%;
      .logo {
        width: 40vw;
        height: 35vh;
        border-radius: 1em;
        margin: 0.3em 0 3em 9em;
      }
      .desc-1 {
        text-align: center;
        color: yellow;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.6em;
      }
      .desc-2 {
        text-align: center;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        max-width: 600px;
        padding-bottom: 0.6em;
      }
      .reg-h3 {
        color: var(--secondary-color);
        font-size: 1.4em;
        padding: 1em 0 0.5em 0;
      }
      .fill-form {
        color: white;
        font-size: 1em;
        padding-bottom: 1.5em;
      }
      .reg-page-form {
        padding-bottom: 2em;
        .form-item {
          position: relative;
          .text {
            border-radius: 0.5em;
            padding: 1em 0 1em 2.8em;
            width: 90%;
          }
          .bx {
            font-size: 2em;
            position: absolute;
            color: var(--tertiary-color);
            z-index: 1;
            left: 0;
            top: 1.4em;
          }
        }
      }
      .note-desc {
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        color: yellow;
        padding-bottom: 2em;
        span {
          color: var(--secondary-color);
        }
      }
      .check {
        line-height: 1.5em;
        padding-bottom: 1em;
        .agree {
          font-size: 1.2em;
        }
      }
      .submit-cta {
        background-color: var(--secondary-color);
        padding: 0.8em 1.3em;
        border-radius: 0.5em;
        text-decoration: none;
        color: white;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
@media only screen and (max-width: 772px) {
  .reg-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -0-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin: 2.5em 0 5em 0;
    .container {
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, rgb(4, 4, 41), black);
      border: 1px solid white;
      padding: 2em 0 2em 1em;
      color: white;
      width: 75vw;
      height: 100%;
      .logo {
        width: 40vw;
        height: 35vh;
        border-radius: 1em;
        margin: 0.3em 0 3em 8em;
      }
      .desc-1 {
        text-align: center;
        color: yellow;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.6em;
      }
      .desc-2 {
        text-align: center;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        max-width: 600px;
        padding-bottom: 0.6em;
      }
      .reg-h3 {
        color: var(--secondary-color);
        font-size: 1.4em;
        padding: 1em 0 0.5em 0;
      }
      .fill-form {
        color: white;
        font-size: 1em;
        padding-bottom: 1.5em;
      }
      .reg-page-form {
        padding-bottom: 2em;
        .form-item {
          position: relative;
          .text {
            border-radius: 0.5em;
            padding: 1em 0 1em 2.8em;
            width: 90%;
          }
          .bx {
            font-size: 2em;
            position: absolute;
            color: var(--tertiary-color);
            z-index: 1;
            left: 0;
            top: 1.4em;
          }
        }
      }
      .note-desc {
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        color: yellow;
        padding-bottom: 2em;
        span {
          color: var(--secondary-color);
        }
      }
      .check {
        line-height: 1.5em;
        padding-bottom: 1em;
        .agree {
          font-size: 1.2em;
        }
      }
      .submit-cta {
        background-color: var(--secondary-color);
        padding: 0.8em 1.3em;
        border-radius: 0.5em;
        text-decoration: none;
        color: white;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .reg-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -0-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin: 2.5em 0 5em 0;
    .container {
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, rgb(4, 4, 41), black);
      border: 1px solid white;
      padding: 2em 0 2em 1em;
      color: white;
      width: 90vw;
      height: 100%;
      .logo {
        width: 70vw;
        height: 35vh;
        border-radius: 1em;
        margin: 0.3em 0 3em 1.5em;
      }
      .desc-1 {
        text-align: center;
        color: yellow;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.6em;
      }
      .desc-2 {
        line-height: 1.2em;
        text-align: center;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        max-width: 600px;
        padding-bottom: 0.6em;
      }
      .reg-h3 {
        color: var(--secondary-color);
        font-size: 1.4em;
        padding: 1em 0 0.5em 0;
      }
      .fill-form {
        color: white;
        font-size: 1em;
        padding-bottom: 1.5em;
      }
      .reg-page-form {
        padding-bottom: 2em;
        .form-item {
          position: relative;
          .text {
            border-radius: 0.5em;
            padding: 1em 0 1em 2.8em;
            width: 90%;
          }
          .bx {
            font-size: 2em;
            position: absolute;
            color: var(--tertiary-color);
            z-index: 1;
            left: 0;
            top: 1.4em;
          }
        }
      }
      .note-desc {
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        color: yellow;
        padding-bottom: 2em;
        span {
          color: var(--secondary-color);
        }
      }
      .check {
        line-height: 1.5em;
        padding-bottom: 1em;
        .agree {
          font-size: 1.2em;
        }
      }
      .submit-cta {
        background-color: var(--secondary-color);
        padding: 0.8em 1.3em;
        border-radius: 0.5em;
        text-decoration: none;
        color: white;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
